.input-group-text {   
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 5px 5px 0px;
    padding-top: 9px;
    padding-bottom: 8px;
  }

.valid{
    background-color: #18a318; /* Light background for the icon */
    border: 1px solid #18a318; /* Match input border color */
}
.invalid{
    background-color: #df2323; /* Light background for the icon */
    border: 1px solid #df2323; /* Match input border color */
}