.card-body{
    cursor: pointer !important;
}

.circular-progress-container {
    position: relative;
    /* width: 100px; */
    height: 130px;
  }
  
  .circular-progress-background {
    stroke: #e6e6e6; /* Light gray background color */
  }
  
  .circular-progress-bar {
    stroke: #4caf50; /* Green color for progress */
    transition: stroke-dashoffset 0.35s;
  }
  
  .progress-text {
    position: absolute;
    top: 40%;
    left: 45%;  
    font-size: 18px;
    font-weight: bolder;
    color: #4caf50;
  }

  /* .custom-card {
    background: linear-gradient(to top, #38575794, #fffefe); 
  } */
