.form-labelp{
    font-size: 14px !important;
    color: #555 !important;
}
.modal-footer {
    display: flex;
    justify-content: flex-end !important; /* Align items to the right */
    padding: 10px; /* Adjust padding as needed */
  }
  
