<!-- Modal for Creating Request -->
<div tabindex="-1" >
    <div>
      <div class="modal-content">
        <!-- start model header -->
        <div class="modal-header">
          <h5 class="modal-title" style="font-size: 15px !important; margin-left: 25px !important;">WO#00{{ item.id }}</h5>
          <button type="button" class="btn-close col-1" (click)="closeModal()">
            <span>&times;</span>
          </button>
        </div>  
        <!-- end model header -->
        <form #requestForm="ngForm">
        <!-- start model body --> 
          <div class="modal-body">             
              <div class="p-4 pt-0">
                <!-- Tab Content -->
                <div class="tab-content">             
                  <!-- Task Tab -->
                  <form [formGroup]="completedWorkOrderForm" (ngSubmit)="onSubmit(item.id)">
                  <div
                  *ngIf="activeTab === 'task'"                 
                  [ngClass]="{ active: activeTab === 'task' }"
                  class="tab-pane" [ngClass]="{ active: activeTab === 'task' }" class="form-group row">    

                <div [ngClass]="{
                  'col-lg-6': completedWorkOrderForm.get('status')?.value === 'Complete',
                  'col-lg-12': completedWorkOrderForm.get('status')?.value !== 'Complete',
                  'animate-border-right': completedWorkOrderForm.get('status')?.value === 'Complete'
              }">   
                    <p class="text-muted"><b>Task</b></p>                           
                  <div class="form-group row">
                    <div class="col-lg-6">
                    <label class="form-label" for="notesComments">Add Notes/Comments</label>
                    <input type="text" formControlName="notesComments" id="notesComments" class="form-control" />
                    <div *ngIf="completedWorkOrderForm.get('notesComments')?.errors && completedWorkOrderForm.get('notesComments')?.touched">
                      <small class="text-danger" *ngIf="completedWorkOrderForm.get('notesComments')?.errors?.['required']">This field is required.</small>
                      <small class="text-danger" *ngIf="completedWorkOrderForm.get('notesComments')?.errors?.['minlength']">Minimum 5 characters required.</small>
                    </div>
                  </div>                  
                  
                  <div class="col-lg-6">
                    <label class="form-label" for="descriptionOfOccurrence">Description of Occurrence</label>
                    <textarea formControlName="descriptionOfOccurrence" id="descriptionOfOccurrence" class="form-control col-lg-8" rows="1"></textarea>
                    <div *ngIf="completedWorkOrderForm.get('descriptionOfOccurrence')?.errors && completedWorkOrderForm.get('descriptionOfOccurrence')?.touched">
                      <small class="text-danger" *ngIf="completedWorkOrderForm.get('descriptionOfOccurrence')?.errors?.['required']">This field is required.</small>
                      <small class="text-danger" *ngIf="completedWorkOrderForm.get('descriptionOfOccurrence')?.errors?.['minlength']">Minimum 10 characters required.</small>
                    </div>
                </div>  
                  </div>              
                  
                  <div class="form-group row">
                    <div class="col-lg-6">
                    <label class="form-label" for="challengesEncountered">Challenges Encountered</label>
                    <textarea formControlName="challengesEncountered" id="challengesEncountered" class="form-control col-lg-8" rows="1"></textarea>
                    <div *ngIf="completedWorkOrderForm.get('challengesEncountered')?.errors && completedWorkOrderForm.get('challengesEncountered')?.touched">
                      <small class="text-danger" *ngIf="completedWorkOrderForm.get('challengesEncountered')?.errors?.['maxlength']">Maximum 500 characters allowed.</small>
                    </div>
                  </div>
                  
                  <div class="col-lg-6">
                    <label class="form-label" for="sparePartsMaterialsUsed">Spare Parts/Materials Utilized</label>
                    <textarea formControlName="sparePartsMaterialsUsed" id="sparePartsMaterialsUsed" class="form-control col-lg-8" rows="1"></textarea>
                    <div *ngIf="completedWorkOrderForm.get('sparePartsMaterialsUsed')?.errors && completedWorkOrderForm.get('sparePartsMaterialsUsed')?.touched">
                      <small class="text-danger" *ngIf="completedWorkOrderForm.get('sparePartsMaterialsUsed')?.errors?.['maxlength']">Maximum 200 characters allowed.</small>
                    </div>
                </div>
                  </div>
                  
                  <div class="form-group row">
                    <div class="col-lg-6">
                    <label class="form-label" for="extraWorkDetails">Additional Comments</label>
                    <textarea formControlName="extraWorkDetails" id="extraWorkDetails" class="form-control col-lg-8" rows="1"></textarea>
                    <div *ngIf="completedWorkOrderForm.get('extraWorkDetails')?.errors && completedWorkOrderForm.get('extraWorkDetails')?.touched">
                      <small class="text-danger" *ngIf="completedWorkOrderForm.get('extraWorkDetails')?.errors?.['maxlength']">Maximum 500 characters allowed.</small>
                    </div>
                  </div>
                  
                  <div class="col-lg-6">
                    <label class="form-label" for="planDeviations">Deviations from Original Plan</label>
                    <textarea formControlName="planDeviations" id="planDeviations" class="form-control col-lg-8" rows="1"></textarea>
                    <div *ngIf="completedWorkOrderForm.get('planDeviations')?.errors && completedWorkOrderForm.get('planDeviations')?.touched">
                      <small class="text-danger" *ngIf="completedWorkOrderForm.get('planDeviations')?.errors?.['maxlength']">Maximum 200 characters allowed.</small>
                    </div>
                </div>
                  </div>
                  
                  <div class="form-group row">
                    <div class="col-lg-6">
                    <label class="form-label" for="actualLaborHours">Actual Labor & Hours Spent</label>
                    <input type="number" formControlName="actualLaborHours" id="actualLaborHours" class="form-control col-lg-8" placeholder="Hours spent" />
                    <div *ngIf="completedWorkOrderForm.get('actualLaborHours')?.errors && completedWorkOrderForm.get('actualLaborHours')?.touched">
                      <small class="text-danger" *ngIf="completedWorkOrderForm.get('actualLaborHours')?.errors?.['required']">This field is required.</small>
                      <small class="text-danger" *ngIf="completedWorkOrderForm.get('actualLaborHours')?.errors?.['min']">Minimum of 1 hour required.</small>
                    </div>
                </div>
                    <div class="col-lg-6">
                    <label class="form-label" for="workHours">Work Hours</label>
                    <div class="d-flex align-items-center">
                    <input type="time" formControlName="workHours" id="workHours" formControlName="startTime" class="form-control" placeholder="e.g., 9:00 AM - 3:00 PM" />&nbsp;to&nbsp;
                    <input type="time" formControlName="workHours" formControlName="endTime" class="form-control" placeholder="e.g., 9:00 AM - 3:00 PM" />
                    </div>
                    <div *ngIf="completedWorkOrderForm.hasError('invalidDuration') && completedWorkOrderForm.get('endTime')?.touched">
                      <small class="text-danger">The work hour duration must be exactly {{ completedWorkOrderForm.get('actualLaborHours')?.value }} hours.</small>
                    </div>
                    <div *ngIf="(completedWorkOrderForm.get('startTime')?.touched || completedWorkOrderForm.get('endTime')?.touched) && 
                    (completedWorkOrderForm.get('startTime')?.invalid || completedWorkOrderForm.get('endTime')?.invalid)">
                    <small class="text-danger" *ngIf="completedWorkOrderForm.get('startTime')?.hasError('required')">Start time required</small>&nbsp;
                    <small class="text-danger" *ngIf="completedWorkOrderForm.get('endTime')?.hasError('required')">End time required</small>
                  </div>
                  
             
                </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-lg-6">
                    <label class="form-label" for="proofOfCompletion">Proof Of Completion</label>
                    <input type="file" formControlName="proofOfCompletion" id="proofOfCompletion" class="form-control" />
                    <div *ngIf="completedWorkOrderForm.get('proofOfCompletion')?.errors && completedWorkOrderForm.get('proofOfCompletion')?.touched">
                      <small class="text-danger" *ngIf="completedWorkOrderForm.get('proofOfCompletion')?.errors?.['required']">This field is required.</small>
                    </div>
                </div>
                    <div class="col-lg-6">
                    <label class="form-label" for="status">Update Status</label>
                    <select class="form-control col-lg-8" formControlName="status" id="status" (change)="onStatusChange($event,item)"
                   >
                      <option
                        *ngFor="let status of statusOptions"
                        [value]="status.value"
                      >
                        {{ status.value }}  
                      </option>
                    </select>
                  </div>   
                </div>
                </div>
                <div class="col-lg-6" [ngClass]="{ 'd-none': completedWorkOrderForm.get('status')?.value !== 'Complete','slide-in-right': completedWorkOrderForm.get('status')?.value === 'Complete' }">
                    <p class="text-muted"><b>Parts</b></p>    
                    <div class="form-group pt-18rem">
                        <div class="card card shadow-sm">
                            <div class="card-title p-2 m-0 d-flex justify-content-between">
                                <div>
                                    <i class="fa fa-wrench h3"></i>&nbsp;<span class="form-label">Total Parts Costing   {{ totalCost | currency: 'INR': 'symbol' }}</span> 
                                </div>
                                <div class="text-end">
                                    <button type="button" class="btn-block btn btn-part"  (click)="openpartModel()">+Add Part</button>
                                </div>
                            </div>
                            <div class="card-body" formArrayName="selectedItems">
                                <table class="table" *ngIf="selectedItemss.length>0">
                                    <thead>
                                        <tr>
                                            <th>Name Item</th>
                                            <th class="text-center">Cost</th>                                        
                                            <th class="text-center">Quantity</th> 
                                            <th></th>                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of selectedItems.controls; let i = index" [formGroupName]="i">
                                            <td> <p class="form-label col-lg-4">{{ item.get('name')?.value }}</p></td> 
                                            <td class=" text-center"><p class="form-label col-lg-4">{{ item.get('cost')?.value }}</p></td>
                                            <td class=" text-center" [hidden]="true"><p class="form-label col-lg-4">{{ item.get('taxes')?.value }}</p></td>
                                            <td class="text-center"><input type="text" name="qty" formControlName="selectquantity" (ngModelChange)="validateQuantity(i, $event)" 
                                                min="1" value="1" style="width: 30px;" class="border-0 text-end">
                                                <!-- <label class="form-label">{{ item.get('remainingQuantity')?.value }}&nbsp;left</label>  -->
                                            </td>  
                                            <td> <i class="fa fa-trash" class="point"(click)="removeItem(i)"></i>  </td>
                                                                                                                     
                                        </tr>
                                    </tbody>
                                </table>                        

                              
                                <div class="form-group row">
                                    <p class="col-lg-5"></p>
                                    <p class="col-lg-4 form-label ">Labor Charges</p>
                                    <p class="col-lg-3 form-label text-end" >{{item.estimatedCost| currency: 'INR': 'symbol' }}</p>
                                </div>
                                <div class="form-group row">
                                    <p class="col-lg-5"></p>
                                    <p class="col-lg-4 form-label ">Part Costing</p>
                                    <p class="col-lg-3 form-label text-end" >{{ totalCost | currency: 'INR': 'symbol' }}</p>
                                </div>
                                <div class="form-group row">
                                  <p class="col-lg-5"></p>
                                  <p class="col-lg-4 form-label ">CGST</p>
                                  <p class="col-lg-3 form-label text-end" >{{totalTaxes/2 | currency: 'INR': 'symbol'}}</p>
                              </div>
                              <div class="form-group row">
                                <p class="col-lg-5"></p>
                                <p class="col-lg-4 form-label ">SGST</p>
                                <p class="col-lg-3 form-label text-end" >{{totalTaxes/2 | currency: 'INR': 'symbol'}}</p>
                            </div>
                              <hr class="m-0">
                                <div class="form-group row">
                                    <p class="col-lg-5"></p>
                                    <p class="col-lg-4 form-label ">Total Amount to Pay</p>
                                    <p class="col-lg-3 form-label text-end">{{totalAmountToPay | currency: 'INR': 'symbol'}}</p>
                                </div>                                 
                          </div>
                        </div>
                    </div>
                </div>
                </div> 
                <!-- Task Tab -->   
                      <!-- payment Tab -->
                      <div
                      *ngIf="activeTab === 'payment'"
                      class="tab-pane"
                      [ngClass]="{ active: activeTab === 'payment' }"
                    >
                      <!-- payment Content -->
                      <div>
                        <div class="mx-50 pt-4">
                          <app-payment 
                          [item]="selectedItem"
                          *ngIf="showStripePayment"
                          (close)="closeModal()"
                          >  
                          </app-payment>        
                          </div>
                      </div>
                    </div>           
              </form>
              </div>
              </div>          
          </div>
        <!-- end model body --> 
        <!-- start model footer --> 
          <div class="modal-footer mt-3">
            <ng-container>
              <button
                type="button"
                class="btn btn-sm btn-danger"
                (click)="closeModal()"
              >
                Cancel
              </button>             
              <button
              type="button"
              class="btn btn-sm btn-success" [disabled]="!completedWorkOrderForm.valid"
              (click)="onSubmit(item.id)" *ngIf="activeTab=='task'"
            >
            Submit
            </button>
            
            </ng-container>
          </div>
          <!-- end model footer --> 
        </form>
      </div>
    </div>  
  </div>

<!-- start part model -->
  <div class="modal-overlay" *ngIf="Openpart">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Parts</h5>
          <button
            type="button"
            class="btn-close col-1"
            (click)="closepartModal()"
          >
            <span>&times;</span>
          </button>
        </div>
        <form class="formdiv">
          <div class="modal-body">
            <div class="d-flex align-items-center pb-2">
              <input
                type="text"
                class="search me-2"
                placeholder="Search"
                style="width: 150px"
                name="search"
              />
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th class="">
                    <input
                      type="checkbox"
                      (change)="toggleAll()"
                      (change)="updateSelection()"
                      class="me-2"
                      name="select"
                    />
                  </th>
                  <th>Name</th>
                  <th>ID</th>
                  <th>Cost</th>               
                  <th>Available Qty</th>
                  <th>Category</th>
                  <th>Location</th>
                  <th>Status</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of filteredinventoryItems">
                  <td>
                    <input
                      type="checkbox"
                      (change)="updateSelection()"
                      class="me-2"
                      name="select"
                    />
                  </td>
                  <td>{{item.name}}</td>
                  <td>{{item.id}}</td>                
                  <td>{{item.price == null ? 'N/A' : item.price }}</td>
                  <td [hidden]="true">{{item.taxes}}</td>
                  <td>{{item.availableQuantity == null ? '0.00':item.availableQuantity}}</td>
                  <td>{{item.inventoryCategori}}</td>
                  <td>{{item.location}}</td>
                  <td>{{item.status}}</td>                
                </tr>
              </tbody>
            </table>
          </div>
        </form>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger btn-sm btn-block"
            (click)="closepartModal()"
          >
            Cancel
          </button>
          <button type="button" class="btn btn-success btn-sm btn-block" (click)="SelectItem(selectedItemss)">
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
<!-- end part model -->
  