<div class="mt-2">
    <!-- start header content-->
    <div class="d-flex justify-content-between align-items-center pb-2 px-2">
      <!-- start advance filter -->
      <div class="d-flex">
        <div class="dropdown me-2">
          <button
            class="btn btn-sm filterbtn dropdown-toggle"
            type="button"
            id="assetDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Filters
          </button>     
          <ul class="dropdown-menu p-3" aria-labelledby="filterDropdown">
            <li>
              <div>
                <form #filterForm="ngForm">
                  <div class="form-group row">
                    <div class="col-lg-6 form-group m-0">
                      <label for="paymentId" class="form-label"
                        >Transaction ID</label
                      >
                      <input
                        type="text"
                        id="paymentId"
                        name="paymentId"
                        class="form-control"
                        [(ngModel)]="filters.paymentId"
                      />
                    </div>

                    <div class="col-lg-6 form-group m-0">
                      <label for="amount" class="form-label">Amount</label>
                      <input
                        id="amount"
                        type="text"
                        class="form-control"
                        [(ngModel)]="filters.amount"
                        name="amount"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-lg-6 form-group m-0">
                      <label for="startDate" class="form-label">	Date</label>
                      <input
                        type="date"
                        id="startDate"
                        name="startDate"
                        class="form-control"
                        [(ngModel)]="filters.startDate"
                      />
                    </div>

                    <div class="col-lg-6 form-group m-0">
                      <label for="email" class="form-label">Email</label>
                      <input
                        id="email"
                        name="email"
                        type="text"
                        class="form-control"
                        autocomplete="email"
                        [(ngModel)]="filters.email"                       
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-lg-6 form-group m-0">
                      <label for="requestId" class="form-label">	Request ID</label>
                      <input
                        type="text"
                        id="requestId"
                        name="requestId"
                        class="form-control"
                        [(ngModel)]="filters.requestId"
                      />
                    </div>

                    <div class="col-lg-6 form-group m-0">
                      <label for="workorderId" class="form-label">Work Order ID</label>
                      <input
                        type="text"
                        id="workorderId"
                        name="workorderId"
                        class="form-control"
                        [(ngModel)]="filters.workorderId"
                      />
                    </div>

                  </div>
                  <div class="form-group row">
                    <div class="col-lg-6 form-group m-0">
                      <label for="status" class="form-label">Status</label>
                      <input
                        type="text"
                        id="status"
                        name="status"
                        class="form-control"
                        [(ngModel)]="filters.status"
                      />
                    </div>

                    <div class="col-lg-6 form-group pt-4">
                      <button
                        type="button"
                        class="btn btn-sm btn-primary mt-2"
                        (click)="applyFilters()"
                      >
                        Apply Filters
                      </button>
                    </div>
                  </div>                 
                </form>
              </div>
            </li>
          </ul>   
        </div>
      </div>
      <!-- end advance filter -->
      <!-- start search payment -->
      <div class="d-flex align-items-center">      
        <input
          name="search"
          type="text"
          class="search"
          placeholder="Search"
          [(ngModel)]="searchTerm"
          (keyup)="searchpayment()"         
        />
      </div>
      <!-- end search payment -->
    </div>
    <!-- end header content-->
    <!-- start No data found -->
    <div class="card card-body p-4 mx-2"
        *ngIf="!filteredpayment || filteredpayment.length === 0">
        <div class="d-flex justify-content-between align-items-center">
          <div class="">
            <h4 class="card-title mb-1"></h4>
          </div>
        </div>
        <div class="pt-2 text-center">
          <p class="text-muted h5">No Data Found !</p>
        </div>
        <div class="pt-5 text-center">        
        </div>       
    </div>
    <!-- end No data found -->
    <!-- start table content-->
    <div  *ngIf="payment && filteredpayment.length > 0">  
      <div class="table-responsive d-none d-md-block">
        <div class="table-scroll">
          <!-- start table payment -->
          <table class="table table-hover">
            <thead>
              <tr>                                   
                <th (click)="sortBy('paymentId')" class="pl-50 point">
                  Transaction ID <i *ngIf="sortColumn === 'paymentId'" class="fas" [ngClass]="{'fa-sort-up': sortOrder === 'asc','fa-sort-down': sortOrder === 'desc'}"></i>               
                </th>
                <th (click)="sortBy('amount')" class="point">
                  Amount <i *ngIf="sortColumn === 'amount'" class="fas" [ngClass]="{'fa-sort-up': sortOrder === 'asc','fa-sort-down': sortOrder === 'desc'}"></i>              
                </th>
                <th (click)="sortBy('datetime')" class="point">
                  Date <i *ngIf="sortColumn === 'datetime'" class="fas" [ngClass]="{'fa-sort-up': sortOrder === 'asc','fa-sort-down': sortOrder === 'desc'}"></i>                                
                </th>               
                <th (click)="sortBy('email')" class="point">
                  Email <i *ngIf="sortColumn === 'email'" class="fas" [ngClass]="{'fa-sort-up': sortOrder === 'asc','fa-sort-down': sortOrder === 'desc'}"></i>                                       
                </th>              
                <th (click)="sortBy('requestId')" class="point">
                  Request ID  <i *ngIf="sortColumn === 'requestId'" class="fas" [ngClass]="{'fa-sort-up': sortOrder === 'asc','fa-sort-down': sortOrder === 'desc'}"></i>                                         
                </th>
                <th  (click)="sortBy('workorderId')" class="point">
                  Work Order ID <i *ngIf="sortColumn === 'workorderId'" class="fas" [ngClass]="{'fa-sort-up': sortOrder === 'asc','fa-sort-down': sortOrder === 'desc'}"></i>                                          
                </th>
                <th (click)="sortBy('status')" class="point">
                  Status  <i *ngIf="sortColumn === 'status'" class="fas" [ngClass]="{'fa-sort-up': sortOrder === 'asc','fa-sort-down': sortOrder === 'desc'}"></i>                                                
                </th>                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of filteredpayment | paginate
        : { itemsPerPage: itemsPerPage, currentPage: currentPage }">               
                <td class="pl-50 point"         
                   (click)="copyToClipboard(item.paymentId)"
                   (mouseenter)="hover = true"
                   (mouseleave)="hover = false">
                  {{ item.paymentId | slice:0:12 }}...
                   <span *ngIf="hover" class="tooltip">{{ copied ? 'Copied' : 'Copy' }}</span>
                </td> 
                <td> {{item.amount | currency: 'INR': 'symbol' }}</td>                
                <td class="pl-9">
                 {{item.datetime  | date : "dd-MM-yyyy hh:mm a"}}
                </td>
                <td> {{item.email}}</td>               
                <td> {{item.requestId}}</td>
                <td> {{item.workorderId}}</td>                
                <td class="pr-50"> 
                <span class="badge-accepted p-1 m-0"  *ngIf="item.status === 'Succeeded'">{{ item.status }} &nbsp;<i class="fa fa-check"></i></span>
                <span class="badge-declined p-1 m-0"  *ngIf="item.status === 'failed'">{{ item.status }} &nbsp;<i class="fa fa-times"></i></span>
              </td>
              </tr>
            </tbody>
          </table>
          <!-- end table payment -->
          <!-- Pagination Controls -->
          <pagination-controls
              (pageChange)="pageChanged($event)"
              [maxSize]="5"
              [directionLinks]="true"
              [autoHide]="true"
              ></pagination-controls>
          <!-- Pagination Controls -->
          <!-- Loader Controls -->
          <div class="full-screen-loader" *ngIf="isLoading">
            <div class="spinner-border text-dark" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <!-- Loader Controls -->
        </div>
      </div>         
    </div>
    <!-- end table content-->
</div>
  