<div class="modal-overlay" [ngClass]="{'show': true}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ mode === 'edit' ? 'Edit Asset' : mode === 'add' ? 'Register Asset' : 'Asset Details' }}</h5>
                <button type="button" class="btn-close col-1" (click)="closeModal()">
                    <span>&times;</span>
                </button>
            </div>
            <form [formGroup]="assetsForm" (ngSubmit)="onSubmit()">
                <div class="modal-body formdiv"  *ngIf="mode === 'edit' || mode === 'add'">            
                    <input type="text" id="id" formControlName="id" hidden />            
                    <div class="form-group">
                        <label for="assetName" class="form-label">Asset Name <span class="text-danger">*</span></label>
                        <input type="text" id="assetName" formControlName="assetName" class="form-control" placeholder="Enter asset name" />
                        <div *ngIf="assetsForm.get('assetname')?.invalid && assetsForm.get('assetname')?.touched" class="text-danger">
                            <label class="form-label-invalid">Asset name is required.</label>
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label for="description" class="form-label">Asset Description <span class="text-danger">*</span></label>
                        <input type="text" id="description" formControlName="description" class="form-control" placeholder="Enter asset description" />
                        <div *ngIf="assetsForm.get('description')?.invalid && assetsForm.get('description')?.touched" class="text-danger">
                            <label class="form-label-invalid">Asset description is required.</label>
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label for="model" class="form-label">Model <span class="text-danger">*</span></label>
                        <input type="text" id="model" formControlName="model" class="form-control" placeholder="Enter asset model" />
                        <div *ngIf="assetsForm.get('model')?.invalid && assetsForm.get('model')?.touched" class="text-danger">
                            <label class="form-label-invalid">Model is required.</label>
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label for="serialNumber" class="form-label">Serial Number <span class="text-danger">*</span></label>
                        <input type="text" id="serialNumber" formControlName="serialNumber" class="form-control" placeholder="Enter serial number" />
                        <div *ngIf="assetsForm.get('serialNumber')?.invalid && assetsForm.get('serialNumber')?.touched" class="text-danger">
                            <label class="form-label-invalid">Serial number is required.</label>
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label for="category" class="form-label">Category<span class="text-danger">*</span></label>
                        <input type="text" id="category" formControlName="category" class="form-control" placeholder="Enter asset category" />
                        <div *ngIf="assetsForm.get('category')?.invalid && assetsForm.get('category')?.touched" class="text-danger">
                            <label class="form-label-invalid">Category is required.</label>
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label for="location" class="form-label">Location <span class="text-danger">*</span></label>
                        <input type="text" id="location" formControlName="location" class="form-control" placeholder="Enter location" />
                        <div *ngIf="assetsForm.get('location')?.invalid && assetsForm.get('location')?.touched" class="text-danger">
                            <label class="form-label-invalid">Location is required.</label>
                        </div>
                    </div>
                
            
                    <div class="form-group">
                        <label for="purchaseDate" class="form-label">Purchase Date <span class="text-danger">*</span></label>
                        <input type="date" id="purchaseDate" formControlName="purchaseDate" class="form-control" />
                        <div *ngIf="assetsForm.get('purchaseDate')?.invalid && assetsForm.get('purchaseDate')?.touched" class="text-danger">
                            <label class="form-label-invalid">Purchase date is required.</label>
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label for="warrantyExpiration" class="form-label">Warranty Expiration Date <span class="text-danger">*</span></label>
                        <input type="date" id="warrantyExpiration" formControlName="warrantyExpiration" class="form-control" />
                        <div *ngIf="assetsForm.get('warrantyExpiration')?.invalid && assetsForm.get('warrantyExpiration')?.touched" class="text-danger">
                            <label class="form-label-invalid">Warranty expiration date is required.</label>
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label for="condition" class="form-label">Condition <span class="text-danger">*</span></label>
                        <input type="text" id="condition" formControlName="condition" class="form-control" placeholder="Enter asset condition" />
                        <div *ngIf="assetsForm.get('condition')?.invalid && assetsForm.get('condition')?.touched" class="text-danger">
                            <label class="form-label-invalid">Condition is required.</label>
                        </div>
                    </div>
            
                    <!-- New field for Asset Image -->
                    <div class="form-group">
                        <label for="assetImage" class="form-label">Asset Image <span class="text-danger">*</span></label>
                        <!-- Image preview for existing or selected image -->
                        <div class="mt-2">
                            <img [src]="previewImage" alt=" No Image chosen" style="height: 100px; width: 100px;">
                        </div>
                        <input type="file" id="assetImage" formControlName="assetImage" class="form-control" (change)="onFileSelected($event)" />
                        <div *ngIf="assetsForm.get('assetImage')?.invalid && assetsForm.get('assetImage')?.touched" class="text-danger">
                            <label class="form-label-invalid">Asset image is required.</label>
                        </div>                        
                    </div>

            
                    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
                </div>
            
                <div class="modal-footer"  *ngIf="mode === 'edit' || mode === 'add'">
                    <button type="button" class="btn btn-danger btn-sm btn-block" (click)="closeModal()">Cancel</button>
                    <button type="submit" class="btn btn-success btn-sm btn-block">Save</button>
                </div>
            </form>
            <div class="modal-body formdiv" *ngIf="mode === 'view'">
                <!-- Labels for viewing mode -->
                <h5 class=" ">{{ assetsForm.get('assetName')?.value }}</h5>
                <p class="form-labelp">{{ assetsForm.get('description')?.value }}</p>
                <div *ngIf="previewImage" class="mt-3 col-lg-3">                
                    <img [src]="previewImage" alt="Asset Image" style="width: 150px; height: 150px; object-fit: cover; border-radius: 8px; border: 1px solid #ddd;">
                </div><hr>
                <b>Details</b>
                <div class="form-group row">
                <div class="col-lg-9 mt-3">
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Name</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-labelp">{{ assetsForm.get('assetName')?.value }}</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Description</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-labelp">{{ assetsForm.get('description')?.value }}</p>
                    </div>
                </div>
            
                <div class="row ">
                    <div class="col-md-4">
                        <label class="form-label">Model</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-labelp">{{ assetsForm.get('model')?.value }}</p>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Serial Number</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-labelp">{{ assetsForm.get('serialNumber')?.value }}</p>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Category</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-labelp">{{ assetsForm.get('category')?.value }}</p>
                    </div>
                </div>
            
                <div class="row ">
                    <div class="col-md-4">
                        <label class="form-label">Location</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-labelp">{{ assetsForm.get('location')?.value }}</p>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Purchase Date</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-labelp">{{ assetsForm.get('purchaseDate')?.value | date }}</p>
                    </div>
                </div>
            
                <div class="row ">
                    <div class="col-md-4">
                        <label class="form-label">Warranty Expiration</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-labelp">{{ assetsForm.get('warrantyExpiration')?.value | date }}</p>
                    </div>
                </div>
            
                <div class="row ">
                    <div class="col-md-4">
                        <label class="form-label">Condition</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-labelp"  >{{ assetsForm.get('condition')?.value }}</p>
                    </div>
                </div>
            </div>
        </div>
              
            </div>
            
        </div>
    </div>
</div>
