<div
  class="container d-flex justify-content-center align-items-center vh-100 custombg"
>
  <div
    class="card custom card-shadow p-3"
    [ngClass]="{ 'animate-card': showModal }"
  >
  <div class="card-header customtop pt-2" >
    <div>
      <!-- Tools Icon -->
      <i class="la la-tools la-2x m-0 pl-4 text-primary"></i>
      
      <!-- CMMS Text with Colored Letters -->
      <span class="icon-text">
        <span class="text-danger">C</span>
        <span class="text-success">M</span>
        <span class="text-warning">M</span>
        <span class="text-primary">S</span>
      </span>
    </div>
    
    <h4 class="card-title pt-3 m-0">
      {{ isSignUpMode ? "Sign Up" : "Sign in" }}
    </h4>
    <label class="form-label">to access Maintenance-management</label>
  </div>  
    <div class="card-body pt-0">
      <div class="full-screen-loader" *ngIf="isLoading">
        <div class="spinner-border text-dark" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <div class="input-group">        
          <input
            type="text"
            id="adminname"
            formControlName="adminname"
            name="adminname"
            class="form-control"
            placeholder="Enter Tenant Name"            
          />
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-network-wired text-muted"></i>
            </span>
          </div>
        </div>
        </div>

        <div class="form-group mb-3">
          <div class="input-group">
            <!-- Text Input -->
            <input
              type="text"
              id="username"
              formControlName="username"
              name="username"
              class="form-control"
              placeholder="Enter Username"
              required
            />
            <!-- User Icon on the Right -->
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-user text-muted"></i>
              </span>
            </div>
          </div>
        </div>
        
        <div *ngIf="isSignUpMode" class="form-group mb-3">
          <label for="email" class="form-label"
            >Email<span class="text-danger">*</span></label
          >
          <input
            type="email"
            id="email"
            [(ngModel)]="login.email"
            name="email"
            class="form-control"
            placeholder="Enter your email"
            required
          />
        </div>
        <div class="form-group mb-3">
          <div class="input-group">
          <input
            type="password"
            id="password"
            formControlName="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
            required
          />
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-eye text-muted"></i>
            </span>
          </div>
        </div>
        </div>

        <div *ngIf="isSignUpMode" class="form-group mb-3">
          <label for="roleID" class="form-label"
            >Role<span class="text-danger">*</span></label
          >
          <select
            class="form-select"
            name="role"
            [(ngModel)]="login.roleID"
            required
          >
            <option [value]="" disabled>Select Role</option>
            <option [value]="3">Customer</option>
            <option [value]="4">Worker</option>
          </select>
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>

        <div class="text-center">
          <button *ngIf="!isSignUpMode" type="submit" class="btn btn-themecolor w-100">
           Sign in
          </button>
          <button *ngIf="isSignUpMode" type="submit" class="btn btn-success">
            Sign Up
          </button>
        </div>

        <div class="text-center p-2">
          <ng-container *ngIf="isSignUpMode">
            Already have an account?
            <a (click)="switchToLogin()" >Log in</a>
          </ng-container>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="full-screen-loader" *ngIf="isLoading">
  <div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
