.custom{  
  width: 370px;
  border: none !important;
}
.customtop{
  border-bottom: 0px !important;
  background-color: white !important;
}

.custombg{
  background-color: #f3f3f3;
  max-width: 100% !important;
}
.card-shadow {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
}

@keyframes flipIn {
  0% {
    transform: rotateX(90deg); /* Start rotated */
    opacity: 1; /* Start invisible */
  }
  50% {
    transform: rotateX(-10deg); /* Bounce back slightly */
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg); /* End at normal position */
    opacity: 1; /* Fully visible */
  }
}

.card.custom {
  animation: flipIn 1.5s ease-out; /* Apply the animation */
  transform-origin: center; /* Rotate from the center */
}
.form-select{
  font-size: 14px;
  font-weight: 400;
  color: rgb(80, 80, 80);
}
.input-group-text {
  background-color: #f8f9fa; /* Light background for the icon */
  border: 1px solid #ced4da; /* Match input border color */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  padding-top: 9px;
  padding-bottom: 8px;
}
.form-control{
  border-radius: 0px;
}
.btn{
  border-radius: 0px;
}
.icon-text{
  font-size: 11px; 
  font-weight: bold; 
  display: flex; 
  gap: 2px;
}