/* Modal Overlay */
.modal-overlay {
    position: fixed;           /* Fixed positioning */
    top: 0;                   /* Align to the top of the viewport */
    left: 0;                  /* Align to the left of the viewport */
    width: 100vw;             /* Full width */
    height: 100vh;            /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;            /* Use flexbox to center the modal */
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    z-index: 1050;            /* Ensure it appears above other content */
    opacity: 0;               /* Initially hidden */
    transition: opacity 0.3s; /* Smooth transition for opening */
    visibility: hidden;       /* Hidden by default */
}

.modal-overlay.show {
    opacity: 1;               /* Make it fully visible */
    visibility: visible;      /* Make it visible */
}
  
  /* Modal Dialog */
  .modal-dialog {
    background: white;
    border-radius: 10px;
    width: 800px;
    max-width: 90%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Modal Header */
  .modal-header {
    padding: 1.5rem 1.5rem 0.5rem;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .btn-close {
    background: none;
    border: none;
    font-size: 1.5rem; /* Make the close icon larger */
    color: #999; /* Default color */
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: relative;
    top: -10px;
    right: -10px;
  }
  
  .btn-close:hover {
    color: #333; /* Darker color on hover */
  }
  
  
  /* Modal Body */
  .modal-body {
    padding: 1rem 1.5rem;
  }
  .formdiv{
    max-height: 75vh;           /* Set maximum height */
    overflow-y: auto;  
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-label {
    font-size: 1rem;
    font-weight: 600;
    color: #555;
  }
  
  .form-control {
    height: 45px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
  }
  
  .form-control:focus {
    border-color: #2a4646;
    box-shadow: 0 0 5px rgba(0, 255, 128, 0.25);
  }
  
  .btn-themcolor {
    background-color: #2a4646;
    border-color: #2a4646;
    color: white;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .btn-themcolor:hover {
    background-color: #3c5757;
    border-color: #2a4646;
  }
  
  .d-grid {
    display: grid;
  }
  
  .d-grid .btn-block {
    width: 100%;
  }
  
  .btn-outline-themecolor{
    border-color: #2a4646;
    color: #2a4646;
}
.btn-outline-themecolor:hover{
 background-color: #2a4646;
 color: #ffffff;
}