<div class="modal-overlay" [ngClass]="{'show': true}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">View PM </h5>
                <button type="button" class="btn-close col-1" (click)="closeModal()">
                    <span>&times;</span>
                </button>
            </div>
            <form>
            <div class="modal-body">
                    <input type="text" id="userID" formControlName="userID" hidden />
                  
                     <div class="form-group row">
                         <div class="col-lg-6">
                             <h6>PM Details</h6>
                            <div class="form-group row">
                                <p for="username" class="form-label col-lg-4">Title</p>
                                <p class="col-lg-8 form-labelp m-0" >{{item.title}}</p>                        
                            </div>
                            <div class="form-group row">
                                <p for="username" class="form-label col-lg-4">Category</p>
                                <p class="col-lg-8 form-labelp m-0" >{{item.category}}</p>                        
                            </div>
                            <div class="form-group row">
                                <p for="username" class="form-label col-lg-4">Asset</p>
                                <p class="col-lg-8 form-labelp m-0" >{{item.assetName}}</p>                        
                            </div>
                            <div class="form-group row">
                                <p for="username" class="form-label col-lg-4">Priority</p>
                                <p class="col-lg-8 form-labelp m-0" >{{item.priority}}</p>                        
                            </div>
                            <div class="form-group row">
                                <p for="username" class="form-label col-lg-4">Location</p>
                                <p class="col-lg-8 form-labelp m-0" >{{item.locationname}}</p>                        
                            </div>
                            <div class="form-group row">
                                <p for="username" class="form-label col-lg-4">Assign To</p>
                                <p class="col-lg-8 form-labelp m-0" >{{item.assignToName}}</p>                        
                            </div>
                            <div class="form-group row">
                                <p for="username" class="form-label col-lg-4">Start Date</p>
                                <p class="col-lg-8 form-labelp m-0" >{{item.startDate | date:'dd-MM-yyyy'}}</p>                        
                            </div>
                            <div class="form-group row">
                                <p for="username" class="form-label col-lg-4">Due Date</p>
                                <p class="col-lg-8 form-labelp m-0" >{{item.dueDate | date:'dd-MM-yyyy'}}</p>                        
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h6>PM Schedule</h6>
                            <div class="card p-3">
                                <div class="form-group row">
                                    <p class="col-lg-6 form-label">Schedule Type</p>
                                    <p class="col-lg-6 form-labelp m-0">{{item.scheduleType}}</p>
                                </div>
                                <div class="form-group row">
                                    <p class="col-lg-6 form-label">Frequency Interval</p>
                                    <p class="col-lg-6 form-labelp m-0">{{item.frequencyInterval}} {{item.frequencyType}}</p>
                                </div>
                                <div class="form-group row">
                                    <p class="col-lg-6 form-label">Day Of Week</p>
                                    <p class="col-lg-6 form-labelp m-0">{{item.daysOfWeek}}</p>
                                </div>
                                <div class="form-group row">
                                    <p class="col-lg-6 form-label">Aadvance Creation Period</p>
                                    <p class="col-lg-6 form-labelp m-0">{{item.workOrderDue}} {{item.advanceCreationPeriod}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm btn-block" (click)="closeModal()">Cancel</button>                        
                    </div>
            </form>
        </div>
    </div>
</div>
