.optionrow:hover{
  background-color: rgb(223 221 221 / 77%)}
  .org{
    margin-right: 5px; padding: 0.3rem; color: #22b378; background-color: #e8f7f1; border-radius: 5px; font-size: 20px;
  }
  .pur{
    margin-right: 5px; padding: 0.2rem; color: #fd9134; background-color: #fef4ea; border-radius: 5px; font-size: 24px;
  }
  .item{
    margin-right: 5px; padding: 0.3rem; color: #f7525a; background-color:#feedee; border-radius: 5px; font-size: 20px;
  }
  .sales{
    margin-right: 5px; padding: 0.3rem; color: #408dfb; background-color:#ebf3fe; border-radius: 5px; font-size: 20px;
  }
  .card{
    border-color: #f1f1fa;
    /* background-color: #f6f7ff; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); /* Subtle shadow */
    /* background-color: #f6f7ff; */
  }
